<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyBlog</title>
</head>
<body>
    <div>
        <h1><a href="">Poorani Blog</a>/</h1>
    </div>
    <div>
        <p>published on april 20 2020 </p>
        <h2><a href="">My First Blog</a></h2>
        <p>hello ... myself poorani .... i am learning django web programming</p>
    </div>
    <div>
        <p>published on 21 2020</p>
        <h2><a href="">My second blog</a></h2>
        <p>Also i am interested in sharemarkets... need to study fundamentals,technicals</p>
    </div>
</body>
</html>